{{ 'section-announcement-bar.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enabled and section.settings.message != blank -%}
  <section class="announcement-bar">
    {%- if section.settings.link != blank -%}
      <a class="announcement-bar__link" href="{{ section.settings.link }}">
        {{ section.settings.message }}
      </a>
    {%- else -%}
      <p>{{ section.settings.message }}</p>
    {%- endif -%}
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Barre d'annonce",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Activer la barre d'annonce",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "message",
      "label": "Texte de la barre"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Lien optionnel sur le texte"
    }
  ],
  "presets": [
    {
      "name": "Barre d'annonce"
    }
  ]
}
{% endschema %}
